<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<button type="button" onclick="testCROS()">Click Me!</button>

</body>

<script>
    function testCROS() {
        var xhttp = new XMLHttpRequest();

        // Access to XMLHttpRequest at 'http://localhost:8050/test/hello' from origin 'http://localhost:8000' has been blocked by CORS policy: No 'Access-Control-Allow-Origin' header is present on the requested resource.
        // 服务请求到后端

//         GET /test/hello HTTP/1.1
//         Host: localhost:8050
//         Connection: keep-alive
//         Pragma: no-cache
//         Cache-Control: no-cache
//         Sec-Fetch-Mode: cors
//         Origin: http://localhost:8000
//             User-Agent: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/76.0.3809.132 Safari/537.36
//         Accept: */*
// Sec-Fetch-Site: same-site
// Referer: http://localhost:8000/view-test/index
// Accept-Encoding: gzip, deflate, br
// Accept-Language: zh-CN,zh;q=0.9

        // HTTP/1.1 200
        // Content-Type: text/plain;charset=UTF-8
        // Content-Length: 6
        // Date: Tue, 03 Sep 2019 12:26:31 GMT
        //
        // hello!

        // 服务返回 200, 但无跨域请求头; chrome f12 无 preview 及 response; 实际返回有body

        xhttp.open("GET", "http://localhost:8050/test/hello", true);

        /**
         * index:33 GET http://localhost:6000/test/hello net::ERR_UNSAFE_PORT
         * 未请求后端
         * 6000 为chrome 非安全端口
         */
        // xhttp.open("GET", "http://localhost:6000/test/hello", true);

        // ok
        // xhttp.open("GET", "http://localhost:8000/test/hello", true);

        /**
         *  Access to XMLHttpRequest at 'localhost:8000/test/hello' from origin 'http://localhost:8000' has been blocked by CORS policy: Cross origin requests are only supported for protocol schemes: http, data, chrome, chrome-extension, https.
            未请求后端
         */
        // xhttp.open("GET", "localhost:8000/test/hello", true);

        // ok
        // xhttp.open("GET", "/test/hello", true);
        xhttp.send();
    }
</script>

</html>